{% extends "AGORAPlatformBundle::nav.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/game.css') }}" type="text/css" />
{% endblock %}


{% block title %}{{ parent() }} - liste des jeux {% endblock %}

{% block header %}

    <div class="bg">
        <div id="titleHeader">
            <h1>NOS JEUX</h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="rowFlex rowGame" id="gameList">
        {% for game in gameList %}
            <div class="colFlex cardShadow">
                <img class="selfCenter" src="{{ asset('bundles/agoraplatform/image/availableGame/' ~ game.imageURL) }}">
                <div>
                    <h3>{{ game.nom }}</h3>
                    <p> <span style="font-weight: 700">Nb joueur : </span> {{ game.minJoueurs }} - {{ game.maxJoueurs }} </p>
                    <p> <span style="font-weight: 700">Description : </span>{{ game.description }}</p>
                </div>
                <div class="rowFlex actionButtonGame">
                    {#Suppression des boutons regles et classement#}
                    {#<button  type="button" onclick="window.location.href='{{ game.reglesURL }}'" class="btn btn-danger btn-lg buttonInfo selfCenter ">Règle</button>
                    <button  type="button" onclick="window.location.href='{{ path('agora_platform_leaderboard', {'game' : game.id}) }}'" class="btn btn-danger btn-lg buttonInfo selfCenter ">Classement</button>#}

                    <button  type="button" onclick="window.location.href='{{ path('agora_platform_game_create', {'gameId' : game.id}) }}'" class="btn btn-danger btn-lg buttonInfo selfCenter ">Crée une partie</button>
                </div>

            </div>

        {% endfor %}
    </div>

{% endblock %}
