<!DOCTYPE html>
<html>
<head>
    <title>splendor</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/agoragamesplendor/css/index_style.css') }}">

</head>

<body>

<script src="{{ asset('bundles/agoragamesplendor/script/vue.min.js') }}"></script>
<script src="{{ asset('bundles/agoragamesplendor/script/components.js') }}"></script>
{#<script src="{{ asset('bundles/agoragamesplendor/script/util.js') }}"></script>#}


<div class="label_III"> III<img class="card" src="{{ asset('bundles/agoragamesplendor/images/cardLevel3.jpg') }}">
    <button id="reserveButton">Reserve</button> </div>

<div class="label_II"> II<img class="card" src="{{ asset('bundles/agoragamesplendor/images/cardLevel2.jpg') }}">
    <button id="reserveButton">Reserve</button> </div>

<div class="label_I"> I<img class="card" src="{{ asset('bundles/agoragamesplendor/images/cardLevel1.jpg') }}">
    <button id="reserveButton">Reserve</button> </div>



<!--1 div pour chaque joueur*/-->
{% for player in players %}
<div class="player">
    <span> {{ player.idUser.username }}</span><br>
    <p>E, S, R, D, O, J</p> <br>
    <p id="tokens{{ player.idUser.id }}">
    {% for token in player.listTokens %}
        {{ token }},
    {% endfor %}
    </p>
    <br>Buyed Cards : <br>
    {% for card in player.buyedCards %}
        {% if card != 0 %}
        <img class="card" src="{{ asset('bundles/agoragamesplendor/images/' ~ card ~ '.jpg') }}" alt="NO">
        {% endif %}
    {% endfor %}
    <br>Reserved Cards : <br>
    <div id="reservedCard{{ player.idUser.id }}">
    {% for card in player.reservedCards %}
        {% if card != 0 %}
            <img class="card" src="{{ asset('bundles/agoragamesplendor/images/' ~ card ~ '.jpg') }}" alt="NO">
            <button class="buyButton">Buy</button>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endfor %}

<div class="nobles">
    {% for noble in game.idNobles %}
        <div id="box{{ noble }}"><img class="noble" src="{{ asset('bundles/agoragamesplendor/images/' ~ noble ~ '.jpg') }}" alt="NO"></div>
    {% endfor %}
</div>
<!--
    cards : Vue component for visible cards
<cards class="cards"></cards>-->
<div class="cards">
    {% for card in game.idCards %}
    <div id="box{{ card }}"><img class="card" src="{{ asset('bundles/agoragamesplendor/images/' ~ card ~ '.jpg') }}" alt="NO">
            <button class="reserveButton" onclick="reserveCard({{ card }});">Reserve</button>
            <button class="buyButton">Buy</button></div>
    {% endfor %}
{#    <div class="box"><button>buy</button></div>#}
{#    <div class="box"><button>buy</button></div>#}
{#    <div class="box"><button>buy</button></div>#}
{#    <div class="box"><button>buy</button></div>#}
{#    <div class="box"><button>buy</button></div>#}
{#    <div class="box"><button>buy</button></div>#}
{#    <div class="box"><button>buy</button></div>#}
{#    <div class="box"><button>buy</button></div>#}
{#    <div class="box"><button>buy</button></div>#}
{#    <div class="box"><button>buy</button></div>#}
{#    <div class="box"><button>buy</button></div>#}
{#    <div class="box"><button>buy</button></div>#}
</div>
<!--<div id="cards">
    <cards-component></cards-component>
</div>-->

<div class="tokens">
    <div id="emerald" class="token"> {{ game.listTokens[0] }}</div>
    <input id="nbEmerald" type="number" onkeydown="return false" min="0" max="{{ game.listTokens[0] }}" oninput="tokens();" value="0">
    <div id="saphire" class="token"> {{ game.listTokens[1] }}</div>
    <input id="nbSaphire" type="number" onkeydown="return false" min="0" max="{{ game.listTokens[1] }}" oninput="tokens();" value="0">
    <div id="ruby" class="token"> {{ game.listTokens[2] }}</div>
    <input id="nbRuby" type="number" onkeydown="return false" min="0" max="{{ game.listTokens[2] }}" oninput="tokens();" value="0">
    <div id="diamond" class="token"> {{ game.listTokens[3] }}</div>
    <input id="nbDiamond" type="number" onkeydown="return false" min="0" max="{{ game.listTokens[3] }}" oninput="tokens();" value="0">
    <div id="onyx" class="token"> {{ game.listTokens[4] }}</div>
    <input id="nbOnyx" type="number" onkeydown="return false" min="0" max="{{ game.listTokens[4] }}" oninput="tokens();" value="0">
    <div id="gold" class="token"> {{ game.listTokens[5] }}</div>

    <button id="getTokens" disabled="true" onclick="takeTokens();">Prendre</button>
</div>

</body>
</html>

<script>
    //On retrouve l'url de base du serveur à la barbare
    var urlSock = "{{ app.request.getSchemeAndHttpHost() }}";
    //On enlève le http (ou https)
    urlSock = urlSock.split("/");
    urlSock = urlSock[2];
    //On enlève le port
    urlSock = urlSock.split(":");
    urlSock = urlSock[0];

    var connection = new WebSocket('ws://'+ urlSock +':8088');

    connection.onopen = function(e) {

    };

    connection.onclose = function(e) {

    };

    connection.onmessage = function(e) {
        console.log("splendor test : " + e.data);
        let content = JSON.parse(e.data);
        switch (content.type) {
            case "takeTokens":
                let printedPlayerTokens = document.getElementById('tokens' + content.userId);
                let printedEmerald = document.getElementById('emerald');
                let printedSaphire = document.getElementById('saphire');
                let printedRuby = document.getElementById('ruby');
                let printedDiamond = document.getElementById('diamond');
                let printedOnyx = document.getElementById('onyx');
                printedPlayerTokens.innerHTML = content.tokensPlayer;
                let tabTokens = content.tokensGame.split(",");
                printedEmerald.innerHTML = tabTokens[0];
                printedSaphire.innerHTML = tabTokens[1];
                printedRuby.innerHTML = tabTokens[2];
                printedDiamond.innerHTML = tabTokens[3];
                printedOnyx.innerHTML = tabTokens[4];
                resetTokensNbValues();
                break;
            case "reserveCard":
                let printedPlayerReservedCards = document.getElementById('reservedCard' + content.userId);
                let printedGameCard = document.getElementById('box' + content.oldCard);
                var url = '{{ asset("bundles/agoragamesplendor/images/id.jpg") }}';
                url = url.replace('id', content.oldCard);
                printedPlayerReservedCards.innerHTML += "<img class=\"card\" src=\"" + url + "\" alt=\"NO\">\n"
                    + "<button class=\"buyButton\" onclick=\"buyCard("+ content.oldCard +");\">Buy</button>";
                printedGameCard.id = 'box' + content.newCard;
                var url2 = '{{ asset("bundles/agoragamesplendor/images/id.jpg") }}';
                url2 = url2.replace('id', content.newCard);
                printedGameCard.innerHTML = "<img class=\"card\" src=\"" + url2 + "\" alt=\"NO\">\n"
                               + "<button class=\"reserveButton\" onclick=\"reserveCard(" + content.newCard + ");\">Reserve</button>\n"
                               + "<button class=\"buyButton\">Buy</button>";
                if (content.joker == 1) {
                    let printedGold = document.getElementById('gold');
                    let nb = parseInt(printedGold.innerHTML);
                    printedGold.innerHTML = (nb - 1);
                    let printedPlayerTokens = document.getElementById('tokens' + content.userId);
                    let values = printedPlayerTokens.innerHTML.split(",");
                    values[5] = (parseInt(values[5]) + 1);
                    printedPlayerTokens.innerHTML = values.join(",");
                }


        }

    };

    function reserveCard(id) {
        var content = {
            type: "reserveCard",
            gameId: {{ game.id }},
            userId: {{ user.id }},
            cardId: id
        };
        console.log("splendor send : " + JSON.stringify(content));
        connection.send(JSON.stringify(content));
    }

    function takeTokens() {
        let toks = document.getElementById('nbEmerald').value + ","
        + document.getElementById('nbSaphire').value + ","
        + document.getElementById('nbRuby').value + ","
        + document.getElementById('nbDiamond').value + ","
        + document.getElementById('nbOnyx').value;

        var content = {
            type: "takeTokens",
            gameId: {{ game.id }},
            userId: {{ user.id }},
            tokens: toks
        };
        console.log("splendor send : " + content);
        connection.send(JSON.stringify(content));
    }

    function resetTokensNbValues() {
        let emerald = document.getElementById('nbEmerald');
        let saphire = document.getElementById('nbSaphire');
        let ruby = document.getElementById('nbRuby');
        let diamond = document.getElementById('nbDiamond');
        let onyx = document.getElementById('nbOnyx');
        emerald.value = 0;
        saphire.value = 0;
        ruby.value = 0;
        diamond.value = 0;
        onyx.value = 0;
        emerald.disabled = false;
        saphire.disabled = false;
        ruby.disabled = false;
        diamond.disabled = false;
        onyx.disabled = false;
    }

    function tokens() {
        let tok = [];
        tok[0] = {{ game.listTokens[0] }};
        tok[1] = {{ game.listTokens[1] }};
        tok[2] = {{ game.listTokens[2] }};
        tok[3] = {{ game.listTokens[3] }};
        tok[4] = {{ game.listTokens[4] }};
        let emerald = document.getElementById('nbEmerald');
        let saphire = document.getElementById('nbSaphire');
        let ruby = document.getElementById('nbRuby');
        let diamond = document.getElementById('nbDiamond');
        let onyx = document.getElementById('nbOnyx');
        let take = document.getElementById('getTokens');
        let sum = parseInt(emerald.value) + parseInt(saphire.value) + parseInt(ruby.value)
            + parseInt(diamond.value) + parseInt(onyx.value);
        if (emerald.value == 1 && sum - parseInt(emerald.value) > 0) {
            if (sum == 3) {
                if (saphire.value == 0) {
                    saphire.disabled = true;
                }
                if (ruby.value == 0) {
                    ruby.disabled = true;
                }
                if (diamond.value == 0) {
                    diamond.disabled = true;
                }
                if (onyx.value == 0) {
                    onyx.disabled = true;
                }
                take.disabled = false;
            } else {
                saphire.disabled = false;
                ruby.disabled = false;
                diamond.disabled = false;
                emerald.disabled = false;
                onyx.disabled = false;
                take.disabled = true;
            }
            (tok[1] >= 1) ? saphire.max = 1 : saphire.max = tok;
            (tok[2] >= 1) ? ruby.max = 1 : ruby.max = tok;
            (tok[0] >= 1) ? emerald.max = 1 : emerald.max = tok;
            (tok[3] >= 1) ? diamond.max = 1 : diamond.max = tok;
            (tok[4] >= 1) ? onyx.max = 1 : onyx.max = tok;
            return;
        }
        if (saphire.value == 1 && sum - parseInt(saphire.value) > 0) {
            if (sum == 3) {
                if (emerald.value == 0) {
                    emerald.disabled = true;
                }
                if (ruby.value == 0) {
                    ruby.disabled = true;
                }
                if (diamond.value == 0) {
                    diamond.disabled = true;
                }
                if (onyx.value == 0) {
                    onyx.disabled = true;
                }
                take.disabled = false;
            } else {
                saphire.disabled = false;
                ruby.disabled = false;
                diamond.disabled = false;
                emerald.disabled = false;
                onyx.disabled = false;
                take.disabled = true;
            }
            (tok[1] >= 1) ? saphire.max = 1 : saphire.max = tok;
            (tok[2] >= 1) ? ruby.max = 1 : ruby.max = tok;
            (tok[0] >= 1) ? emerald.max = 1 : emerald.max = tok;
            (tok[3] >= 1) ? diamond.max = 1 : diamond.max = tok;
            (tok[4] >= 1) ? onyx.max = 1 : onyx.max = tok;
            return;
        }
        if (ruby.value == 1 && sum - parseInt(ruby.value) > 0) {
            if (sum == 3) {
                if (saphire.value == 0) {
                    saphire.disabled = true;
                }
                if (emerald.value == 0) {
                    emerald.disabled = true;
                }
                if (diamond.value == 0) {
                    diamond.disabled = true;
                }
                if (onyx.value == 0) {
                    onyx.disabled = true;
                }
                take.disabled = false;
            } else {
                saphire.disabled = false;
                ruby.disabled = false;
                diamond.disabled = false;
                emerald.disabled = false;
                onyx.disabled = false;
                take.disabled = true;
            }
            (tok[1] >= 1) ? saphire.max = 1 : saphire.max = tok;
            (tok[2] >= 1) ? ruby.max = 1 : ruby.max = tok;
            (tok[0] >= 1) ? emerald.max = 1 : emerald.max = tok;
            (tok[3] >= 1) ? diamond.max = 1 : diamond.max = tok;
            (tok[4] >= 1) ? onyx.max = 1 : onyx.max = tok;
            return;
        }
        if (diamond.value == 1 && sum - parseInt(diamond.value) > 0) {
            if (sum == 3) {
                if (saphire.value == 0) {
                    saphire.disabled = true;
                }
                if (ruby.value == 0) {
                    ruby.disabled = true;
                }
                if (emerald.value == 0) {
                    emerald.disabled = true;
                }
                if (onyx.value == 0) {
                    onyx.disabled = true;
                }
                take.disabled = false;
            } else {
                saphire.disabled = false;
                ruby.disabled = false;
                diamond.disabled = false;
                emerald.disabled = false;
                onyx.disabled = false;
                take.disabled = true;
            }
            (tok[1] >= 1) ? saphire.max = 1 : saphire.max = tok;
            (tok[2] >= 1) ? ruby.max = 1 : ruby.max = tok;
            (tok[0] >= 1) ? emerald.max = 1 : emerald.max = tok;
            (tok[3] >= 1) ? diamond.max = 1 : diamond.max = tok;
            (tok[4] >= 1) ? onyx.max = 1 : onyx.max = tok;
            return;
        }
        if (onyx.value == 1 && sum - parseInt(onyx.value) > 0) {
            if (sum == 3) {
                if (saphire.value == 0) {
                    saphire.disabled = true;
                }
                if (ruby.value == 0) {
                    ruby.disabled = true;
                }
                if (diamond.value == 0) {
                    diamond.disabled = true;
                }
                if (emerald.value == 0) {
                    emerald.disabled = true;
                }
                take.disabled = false;
            } else {
                saphire.disabled = false;
                ruby.disabled = false;
                diamond.disabled = false;
                emerald.disabled = false;
                onyx.disabled = false;
                take.disabled = true;
            }
            (tok[1] >= 1) ? saphire.max = 1 : saphire.max = tok;
            (tok[2] >= 1) ? ruby.max = 1 : ruby.max = tok;
            (tok[0] >= 1) ? emerald.max = 1 : emerald.max = tok;
            (tok[3] >= 1) ? diamond.max = 1 : diamond.max = tok;
            (tok[4] >= 1) ? onyx.max = 1 : onyx.max = tok;
            return;
        }
        if (emerald.value == 2) {
            if (tok[0] < 4)  {
                emerald.value = 1;
                emerald.max = 1;
            } else {
                saphire.disabled = true;
                ruby.disabled = true;
                diamond.disabled = true;
                onyx.disabled = true;
                emerald.max = 2;
                take.disabled = false;
            }
            return;
        }
        if (saphire.value == 2) {
            if (tok[1] < 4)  {
                saphire.value = 1;
                saphire.max = 1;
            } else {
                emerald.disabled = true;
                ruby.disabled = true;
                diamond.disabled = true;
                onyx.disabled = true;
                saphire.max = 2;
                take.disabled = false;
            }
            return;
        }
        if (ruby.value == 2) {
            if (tok[2] < 4)  {
                ruby.value = 1;
                ruby.max = 1;
            } else {
                saphire.disabled = true;
                emerald.disabled = true;
                diamond.disabled = true;
                onyx.disabled = true;
                take.disabled = false;
                ruby.max = 2;
            }
            return;
        }
        if (diamond.value == 2) {
            if (tok[3] < 4)  {
                diamond.value = 1;
                diamond.max = 1;
            } else {
                saphire.disabled = true;
                ruby.disabled = true;
                emerald.disabled = true;
                onyx.disabled = true;
                take.disabled = false;
                diamond.max = 2;
            }
            return;
        }
        if (onyx.value == 2) {
            if (tok[4] < 4)  {
                onyx.value = 1;
                onyx.max = 1;
            } else {
                saphire.disabled = true;
                ruby.disabled = true;
                diamond.disabled = true;
                emerald.disabled = true;
                take.disabled = false;
                onyx.max = 2;
            }
            return;
        }
        saphire.disabled = false;
        ruby.disabled = false;
        diamond.disabled = false;
        emerald.disabled = false;
        onyx.disabled = false;
        take.disabled = true;
        emerald.max = {{ game.listTokens[0] }};
        saphire.max = {{ game.listTokens[1] }};
        ruby.max = {{ game.listTokens[2] }};
        diamond.max = {{ game.listTokens[3] }};
        onyx.max = {{ game.listTokens[4] }};

    }

    resetTokensNbValues();
</script>