<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ave Cesar - {{ gameName }}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/agoragameavecesar/css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/agoragameavecesar/script/mapping.js') }}"></script>
    <script src="{{ asset('bundles/agoragameavecesar/script/boardPosition.js') }}"></script>
    <script> var playerUsername = "";</script>
</head>
<body>
<div id="gameContent">
    <div id="gameTitle">
        <img src="{{ asset('bundles/agoragameavecesar/image/logo.png') }}">
        <div id="playerName">
            {% for p in players %}
                {% set img = 'bundles/agoragameavecesar/image/char' ~ loop.index ~ '.png' %}
                <div>
                    <img class="smallChar" src="{{ asset(img) }}">
                    {% if p.id == player.id %}
                        <script> playerUsername = "{{ p.userId.username }}"</script>
                        <p class="bold">{{ p.userId.username|slice(0, 8) }}</p>
                    {% else %}
                        <p>{{ p.userId.username|slice(0, 8) }}</p>
                    {% endif %}
                    {% if p.cesar %}
                        <img class="piece" src="{{ asset('bundles/agoragameavecesar/image/piece.png') }}">
                    {% else %}
                        <img class="piece hidden" src="{{ asset('bundles/agoragameavecesar/image/piece.png') }}">
                    {% endif %}
                    <p class="lap">Tour {{ p.lap }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="gameBoard">
        <img src="{{ asset('bundles/agoragameavecesar/image/plateau.jpg') }}" usemap="#image-map">

        <map name="image-map">
            <area target="" alt="0b" title="0b" onclick="playOnCell('0b')" coords="385,147,556,161" shape="rect">
            <area target="" alt="0c" title="0c" onclick="playOnCell('0c')" coords="385,163,556,184" shape="rect">
            <area target="" alt="0d" title="0d" onclick="playOnCell('0d')" coords="385,186,556,204,557,615" shape="rect">
            <area target="" alt="0e" title="0e" onclick="playOnCell('0e')" coords="385,206,556,223" shape="rect">
            <area target="" alt="0f" title="0f"  onclick="playOnCell('0f')" coords="385,225,556,243" shape="rect">
            <area target="" alt="0g" title="0g" onclick="playOnCell('0g')" coords="384,246,555,264" shape="rect">

            <area target="" alt="2b" title="2b" onclick="playOnCell('2b')"  coords="557,148,630,162" shape="rect">
            <area target="" alt="2c" title="2c" onclick="playOnCell('2c')"  coords="559,166,629,180" shape="rect">
            <area target="" alt="2d" title="2d" onclick="playOnCell('2d')"  coords="559,185,630,203" shape="rect">
            <area target="" alt="2e" title="2e" onclick="playOnCell('2e')"  coords="629,222,558,207" shape="rect">
            <area target="" alt="2f" title="2f" onclick="playOnCell('2f')"  coords="559,228,629,243" shape="rect">
            <area target="" alt="2g" title="2g" onclick="playOnCell('2g')"  coords="559,246,559,263,581,261,605,258,630,253,629,246" shape="poly">

            <area target="" alt="3a" title="3a" onclick="playOnCell('3a')" coords="634,126,633,160,691,163,713,169,718,154,679,135" shape="poly">
            <area target="" alt="3b" title="3b" onclick="playOnCell('3b')" coords="634,180,633,166,694,168,711,173,706,188,692,181" shape="poly">
            <area target="" alt="3c" title="3c" onclick="playOnCell('3c')" coords="700,208,705,190,688,186,634,185,633,203,683,204" shape="poly">
            <area target="" alt="3d" title="3d" onclick="playOnCell('3d')" coords="633,206,632,224,682,224,694,227,700,211,680,208" shape="poly">
            <area target="" alt="3e" title="3e" onclick="playOnCell('3e')" coords="633,227,632,251,664,248,683,248,690,249,694,231,663,227" shape="poly">

            <area target="" alt="4a" title="4a" onclick="playOnCell('4a')" coords="722,157,711,188,737,197,763,214,783,228,794,213,759,182" shape="poly">
            <area target="" alt="4b" title="4b" onclick="playOnCell('4b')" coords="709,192,706,207,734,219,771,244,781,231,739,203,718,193" shape="poly">
            <area target="" alt="4c" title="4c" onclick="playOnCell('4c')" coords="703,211,698,230,730,242,760,262,769,247,736,224" shape="poly">
            <area target="" alt="4d" title="4d" onclick="playOnCell('4d')" coords="749,279,759,263,728,245,697,233,692,249,722,261" shape="poly">

            <area target="" alt="5a" title="5a" onclick="playOnCell('5a')" coords="795,216,776,244,802,267,821,289,831,303,854,282,826,249" shape="poly">
            <area target="" alt="5b" title="5b" onclick="playOnCell('5b')" coords="824,308,817,317,763,264,772,250,792,265,807,284,819,298" shape="poly">
            <area target="" alt="5c" title="5c" onclick="playOnCell('5c')" coords="751,281,760,292,797,330,812,318,761,267" shape="poly">

            <area target="" alt="6a" title="6a"  onclick="playOnCell('6a')" coords="858,286,882,326,903,371,877,385,859,344,833,304" shape="poly">
            <area target="" alt="6b" title="6b"  onclick="playOnCell('6b')" coords="826,311,850,348,868,389,839,403,799,334" shape="poly">

            <area target="" alt="7a" title="7a" onclick="playOnCell('7a')" coords="840,405,856,443,857,480,921,490,926,437,906,376" shape="poly">

            <area target="" alt="8a" title="8a" onclick="playOnCell('8a')" coords="919,495,889,489,877,525,855,555,837,567,857,593,898,553,909,529" shape="poly">

            <area target="" alt="8b" title="8b"  onclick="playOnCell('8b')" coords="885,488,857,484,843,513,831,532,819,542,835,563,855,549,872,524" shape="poly">

            <area target="" alt="9a" title="9a" onclick="playOnCell('9a')"  coords="837,574,804,590,811,617,853,596,844,586" shape="poly">
            <area target="" alt="10b" title="10b" onclick="playOnCell('10b')" coords="757,584,759,562,778,559,796,556,816,546,830,564,816,575,782,583" shape="poly">

            <area target="" alt="10a" title="10a" onclick="playOnCell('10a')" coords="754,619,756,592,774,593,799,590,806,617,777,621" shape="poly">

            <area target="" alt="11b" title="11b"  onclick="playOnCell('11b')" coords="705,535,721,547,739,556,756,558,754,587,732,585,712,576,692,562" shape="poly">
            <area target="" alt="11a" title="11a" onclick="playOnCell('11a')"  coords="750,621,753,592,723,585,699,573,691,565,679,587,695,598,718,609" shape="poly">

            <area target="" alt="12a" title="12a" onclick="playOnCell('12a')" coords="668,587,675,587,687,562,668,544,652,528,627,514,617,545" shape="poly">
            <area target="" alt="12b" title="12b" onclick="playOnCell('12b')" coords="637,483,629,509,646,517,656,527,666,537,689,558,703,531,667,501,647,488" shape="poly">

            <area target="" alt="13a" title="13a" onclick="playOnCell('13a')" coords="623,513,613,546,586,537,572,538,533,548,531,523,562,514,588,510,611,509" shape="poly">

            <area target="" alt="15b" title="15b" onclick="playOnCell('15b')" coords="460,484,449,508,483,514,519,514,566,505,589,501,623,508,633,483,620,474,595,472,548,480,515,486,488,487" shape="poly">
            <area target="" alt="14a" title="14a" onclick="playOnCell('14a')" coords="528,536,530,548,508,551,488,552,489,524,529,522" shape="poly">
            <area target="" alt="15a" title="15a" onclick="playOnCell('15a')" coords="446,517,435,541,455,546,482,551,486,524" shape="poly">
            <area target="" alt="16a" title="16a" onclick="playOnCell('16a')" coords="397,495,382,517,432,539,443,516,420,506" shape="poly">
            <area target="" alt="16b" title="16b" onclick="playOnCell('16b')" coords="412,466,401,485,447,506,457,482,432,472" shape="poly">
            <area target="" alt="17a" title="17a" onclick="playOnCell('17a')" coords="317,487,335,466,355,439,407,464,377,514" shape="poly">
            <area target="" alt="18a" title="18a" onclick="playOnCell('18a')" coords="333,463,314,484,266,450,248,429,240,412,236,380,237,359,245,333,256,315,268,302,278,290,291,284,297,282,312,308,294,321,284,331,278,340,274,347,270,357,269,367,268,377,269,388,271,400,275,411,282,423,292,433,303,442,312,448,319,452" shape="poly">
            <area target="" alt="18b" title="18b" onclick="playOnCell('18b')" coords="354,436,334,459,309,442,293,428,282,415,274,401,272,384,273,371,276,354,286,337,295,326,306,317,313,314,318,320,322,327,325,333,328,340,320,345,315,350,311,354,307,359,305,365,304,371,303,378,303,385,305,391,308,397,311,402,315,407,320,411,326,416,334,421,342,426,348,432" shape="poly">
            <area target="" alt="19a" title="19a" onclick="playOnCell('19a')" coords="302,280,313,303,337,297,355,296,366,297,379,301,388,273,368,268,349,266,329,269,312,274" shape="poly">
            <area target="" alt="21b" title="21b" onclick="playOnCell('21b')" coords="319,311,330,336,344,336,353,336,363,338,369,341,375,345,379,350,383,356,386,363,389,376,388,387,416,399,419,384,420,370,420,357,417,346,408,330,398,321,385,312,365,304,345,303,329,307" shape="poly">
            <area target="" alt="20a" title="20a" onclick="playOnCell('20a')" coords="383,302,396,308,405,316,413,325,425,345,455,335,445,318,431,305,412,289,402,281,392,275" shape="poly">
            <area target="" alt="21a" title="21a" onclick="playOnCell('21a')" coords="427,351,456,342,459,354,459,368,457,384,454,396,448,411,421,401,428,383,428,367" shape="poly">
            <area target="" alt="22a" title="22a" onclick="playOnCell('22a')" coords="418,405,449,417,426,457,395,445" shape="poly">
            <area target="" alt="22b" title="22b" onclick="playOnCell('22b')" coords="388,392,413,402,392,443,365,430" shape="poly">
            <area target="" alt="23a" title="23a" onclick="playOnCell('23a')" coords="341,511,374,525,344,552,322,563,290,571,286,538,312,531" shape="poly">
            <area target="" alt="24b" title="24b" onclick="playOnCell('24b')" coords="232,484,214,510,245,525,267,531,293,528,310,522,333,509,303,493,276,500,259,499,244,492" shape="poly">
            <area target="" alt="24a" title="24a" onclick="playOnCell('24a')" coords="196,538,210,516,238,530,258,537,283,538,284,571,265,568,236,558,217,550" shape="poly">
            <area target="" alt="25a" title="25a" onclick="playOnCell('25a')" coords="191,537,168,523,169,503,170,491,165,481,156,469,140,461,124,460,107,426,168,407,168,414,164,420,162,427,161,436,163,445,166,453,170,459,176,466,182,472,189,475,198,477,205,477,213,478,221,475,229,482" shape="poly">
            <area target="" alt="26a" title="26a" onclick="playOnCell('26a')" coords="106,421,95,403,98,381,94,372,97,353,101,323,104,299,112,283,125,259,149,275,141,290,136,305,130,318,125,346,124,358,124,373,125,385,127,399,132,415" shape="poly">
            <area target="" alt="26b" title="26b" onclick="playOnCell('26b')" coords="139,412,168,405,164,382,163,353,169,330,174,315,184,300,156,280,148,294,141,314,136,334,134,354,134,374,134,392" shape="poly">
            <area target="" alt="27a" title="27a" onclick="playOnCell('27a')" coords="128,256,151,273,162,254,174,241,189,228,205,217,229,205,216,176,200,183,183,196,167,207,144,233" shape="poly">
            <area target="" alt="27b" title="27b" onclick="playOnCell('27b')" coords="158,276,174,254,183,242,200,230,215,219,230,212,243,237,224,248,204,268,193,284,186,296" shape="poly">
            <area target="" alt="28a" title="28a" onclick="playOnCell('28a')" coords="226,188,219,175,261,151,307,134,308,182,255,183,238,186" shape="poly">
            <area target="" alt="28b" title="28b" onclick="playOnCell('28b')" coords="227,192,233,207,269,202,308,203,308,185,262,185" shape="poly">
            <area target="" alt="28c" title="28c" onclick="playOnCell('28c')" coords="234,211,246,235,278,238,307,243,307,206,260,207" shape="poly">
            <area target="" alt="29a" title="29a" onclick="playOnCell('29a')" coords="311,134,347,125,382,124,382,161,311,161" shape="poly">
            <area target="" alt="29b" title="29b" onclick="playOnCell('29b')" coords="311,166,310,181,381,181,382,166,330,166" shape="poly">
            <area target="" alt="29c" title="29c" onclick="playOnCell('29c')" coords="311,186,383,203" shape="rect">
            <area target="" alt="29d" title="29d" onclick="playOnCell('29d')" coords="311,207,383,222" shape="rect">
            <area target="" alt="29e" title="29e" onclick="playOnCell('29e')" coords="311,227,383,227,382,262,356,255,329,249,311,246" shape="poly">

            <area target="" alt="30a" title="30a" onclick="playOnCell('30a')" coords="386,124,433,138" shape="rect">
            <area target="" alt="31a" title="31a" onclick="playOnCell('31a')" coords="436,123,482,138" shape="rect">
            <area target="" alt="0a" title="0a" onclick="playOnCell('0a')" coords="486,123,532,138" shape="rect">
            <area target="" alt="1a" title="1a" onclick="playOnCell('1a')" coords="535,124,581,137" shape="rect">
            <area target="" alt="2a" title="2a" onclick="playOnCell('2a')" coords="584,124,629,137" shape="rect">
        </map>

    </div>

    <div id="gameInfo">
        <div id="deck">
            <div class="verticalTitle"><p style="margin-top: 96px;">Pioche</p></div>
            <div id="deckCard"></div>
        </div>
        <div id="myCards">
            <div class="verticalTitle"><p style="margin-top: 80px;">Main</p></div>
            <div id="handCards"></div>
        </div>
        <div id="chatContainer">
            <div class="verticalTitle"><p style="margin-top: 120px;">Historique</p></div>
            <div id="historique">
                <ul>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    cardPlayed = null; // Index dans le main de la carte selectionné
    selectedCard = null;

    var handNode = [];
    imagePath = "{{ asset('bundles/agoragameavecesar/image/') }}";
    var hand = "{{ player.hand }}".split(",").map(x => parseInt(x));
    var players = new Array();
    var selfId = "{{ player.id }}";
    var playerPosition = "{{ player.position }}";
    var firstPlayer = {{ firstPlayer.id }};
    {% for p in players %}
    var plr = {
        id: {{ p.id }},
        name: "{{ p.userId.username }}",
        position: "{{ p.position }}"
    }
    players.push(plr);
    {% endfor %}

    console.log(players);
    console.log(hand);
    displayPawns(players);
    displayCards(hand);
    log("C'est au tour de " + getUsername({{ nextPlayer }})+ " de jouer.");
    updatePlayableCards();
    //On retrouve l'url de base du serveur à la barbare
    var urlSock = "{{ app.request.getSchemeAndHttpHost() }}";
    //On enlève le http (ou https)
    urlSock = urlSock.split("/");
    urlSock = urlSock[2];
    //On enlève le port
    urlSock = urlSock.split(":");
    urlSock = urlSock[0];
    var conn = new WebSocket('ws://'+ urlSock +':8090');
    conn.onopen = function(e) {
        console.log("Connection established!");
        connect();
    };

    function handleConnect(playerId, username) {
        log("Connexion de " + username);
        console.log("User " + username + " with id " + playerId + " has connected.");
    }

    function handleMove(playerId, position, nextPlayer, newFirstPlayer, cesar, lap) {
        console.log("Player " + playerId + " moved to position " + position);
        console.log("Next player is player " + nextPlayer);
        log(getUsername(newFirstPlayer) + " est premier !");
        log("C'est au tour de " + getUsername(nextPlayer) + " de jouer.");
        for (var i in players) {
            if (players[i].id == playerId) {
                selectedCard = null;
                players[i].position = position;
                placePawn(players[i], position);
                firstPlayer = newFirstPlayer;
                if (players[i].id == selfId) {
                    playerPosition = position;
                }
                if (cesar) {
                    showCesar(i);
                }
                updateLap(i, lap);
                updatePlayableCards();
                return;
            }
        }
        updateLap(i, lap);
        updatePlayableCards();
    }

    function handlePass(playerId, nextPlayer) {
        console.log("Player " + playerId + " has passed");
        console.log("Next player is player " + nextPlayer);
        log(getUsername(nextPlayer) + " passe son tour.");
        log("C'est au tour de " + getUsername(nextPlayer) + " de jouer.");
    }

    function handleCard(card) {
        console.log("Received card : " + card);
        hand[cardPlayed] = card;
        updateCard(cardPlayed);
        cardPlayed = null;
    }

    function handleError(message) {
        console.log("Erreur reçue : " + message);
    }

    function handleFinish(message) {
        console.log(message);
        var str = "Classement :\n";
        var tmp = [];
        for (var i in message) {
            if (i != 0) {
                str += (parseInt(i)) + " " + message[i][0] + "\n";
            }
        }
        str += (message.length) + " " + message[0][0] + "\n";
        if(!alert(str))
            window.location.href = '{{ app.request.getSchemeAndHttpHost() }}';
    }

    function handleStart() {
        document.location = window.location.href;
    }

    //Permet de charger le tchat lorsqu'un joueur se connecte
    function loadTchat(data) {
        for (var i in data.tchat) {
            var msg = data.tchat[i];
            if (msg.idPlayer == "{{ player.id }}") {

                var div = document.createElement("div");
                div.textContent = "Moi : " + msg.message;
                div.className = "messageMy";
                document.getElementById("discussion").appendChild(div);
            } else {
                var div = document.createElement("div");
                div.className = "messageOther";
                div.textContent = msg.username + " : " + msg.message;
                document.getElementById("discussion").appendChild(div);
            }
        }
    }
    var IsOpenTchat = 0;
    //Fonction executée lors du cliquage sur le tchat pour l'agrandir/réduire
    function tchatOnClick(e) {
        var tchat = document.getElementsByClassName("tchat")[0];
        if (IsOpenTchat == 0) {
            tchat.style.height = "23em";
            IsOpenTchat = 1;
            $('#flecheTchat')
                .attr("src", "/bundles/agoragameavecesar/image/fleche_historique_haut.png");

        } else {
            tchat.style.height = "1em";
            IsOpenTchat = 0;
            $('#flecheTchat')
                .attr("src", "/bundles/agoragameavecesar/image/fleche_historique_bas.png");

        }

    }
    function handleMessage(data) {
        var div = document.createElement("div");
        div.className = "messageOther";
        div.textContent = data.username + " : " + data.message;
        document.getElementById("discussion").appendChild(div);
    }

    conn.onmessage = function(e) {
        console.log("message : " + e.data);
        var msg = JSON.parse(e.data);
        if (msg.type == "connect") {
            handleConnect(msg.playerId, msg.username);
        } else if (msg.type == "move") {
            handleMove(msg.playerId, msg.position, msg.nextPlayer, msg.firstPlayer, msg.cesar, msg.lap);
        } else if (msg.type == "pass") {
            handlePass(msg.playerId, msg.nextPlayer)
        } else if (msg.type == "card") {
            handleCard(msg.card);
        } else if (msg.type == "error") {
            handleError(msg.message);
        } else if (msg.type == "finish") {
            handleFinish(msg.ranking);
        } else if (msg.type == "start") {
            handleStart();
        } else if (msg.type == "message") {
            handleMessage(msg);
            //Chargement du tchat en début de partie
        } else if (msg.type == "tchatLoad") {
            loadTchat(msg);
        }
    };

    function move(position, card) {
        var content = {
            gameCode: "avc",
            gameId: {{ game.id }},
            playerId: {{ player.id }},
            action: {
                type: "move",
                position: position,
                card: card
            }
        }
        conn.send(JSON.stringify(content));
        console.log(JSON.stringify(content));
    }
    function connect() {
        var content = {
            gameCode: "avc",
            gameId: {{ game.id }},
            playerId: {{ player.id }},
            action: {
                type: "connect"
            }
        }
        conn.send(JSON.stringify(content));
        console.log(JSON.stringify(content));
    }
    function pass() {
        var content = {
            gameCode: "avc",
            gameId: {{ game.id }},
            playerId: {{ player.id }},
            action: {
                type: "pass"
            }
        }
        conn.send(JSON.stringify(content));
        console.log(JSON.stringify(content));
    }

    function log(message) {
        var li = $("<li>").text(message)
        $('#historique ul').prepend(li);
        return li;
    }

    function getUsername(userId) {
        for (var p in players) {
            if (players[p].id == userId) {
                return players[p].name;
            }
        }
        return "";
    }

    function showCesar(index) {
        $('#playerName div img.piece').eq(index).removeClass("hidden");
    }

    function updateLap(index, lap) {
        $('#playerName div p.lap').eq(index).text("Tour " + lap);
    }
</script>

<!-- Le tchat -->
<div class="tchat">
    <div class="titleTchat">
        <img id="flecheTchat" src="{{ asset('bundles/agoragameavecesar/image/fleche_historique_bas.png') }}">
        <i>Chat du lobby</i>
    </div>
    <div id="discussion"></div>
    <textarea id="UserMessage" placeholder="Entrez votre message ici"></textarea>
</div>
<button id="buttAcc" onclick="window.location.href = '{{ app.request.getSchemeAndHttpHost() }}'">Accueil</button>
<script>//Script gérant le tchat
    document.getElementById('UserMessage').addEventListener('keypress', function (event) {

        var key = event.hasOwnProperty('which') ? event.which : event.keyCode;

        if (key == 13) { // 13 est la touche entrée

            var div = document.createElement("div");
            var message = document.getElementById('UserMessage').value;
            var clientInformation = {

                gameId: {{ game.id }},
                playerId: {{ player.id }},
                action : { type: "message",
                    username: playerUsername,
                    message: message},
                gameCode : "avc"
            }
            div.textContent = "Moi : " + message;
            document.getElementById('UserMessage').value = "";
            div.className = "messageMy";
            document.getElementById("discussion").appendChild(div);
            conn.send(JSON.stringify(clientInformation));
        }
    });
    var flecheTchat = document.getElementById("flecheTchat");
    flecheTchat.addEventListener("click", tchatOnClick);



</script>

</body>
</html>